@import '#/styles.scss';

.input {
  width: fit-content;
  border: none;
  outline: none;
  font-family: $fontFamily;

  &[type="password"] {
    color: red;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0%);
  }
}
