<ul class="profile__field">
    <li class="profile__field_hint">{{ hint }}</li>
    <li class="profile__field_value">
        {{!-- {{> shorts/link text=value url=url}} --}}
    {{> input/input type=type name=name id=name placeholder="Пароль" disabled=disabled }}
    </li>
</ul>
