<div class="{{ class }}">
    <img src="{{ picture }}" alt="Avatar">
    {{#if editable}}
    <div class="avatar__overlay">
        <a href="#">
            Поменять<br />
            аватар
        </a>
    </div>
    {{/if}}
</div> 
