<main class="error__main">
  <h1 class="error__type">
    {{ errorType }}
  </h1>

  <h3 class="error__message">
    {{ errorMessage }}
  </h3>

  <div class="error__link">

    {{{Link text="Назад к чатам" url="/" class="error__link"}}}
  
  </div>
</main>
